<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Captain Crypto's Castle</title>
		
		<link th:href="@{/style.css}" rel="stylesheet" />
		
		<link th:href="@{/bootstrap-combined-2.3.2.min.css}" rel="stylesheet" id="bootstrap-css">
		<script th:src="@{/bootstrap-2.3.2.min.js}"></script>
		<script th:src="@{/jquery-3.2.1.min.js}"></script>
   		

    </head>
    <body>
    <br><br>
    	<div class="container-fluid well span10">
			<div class="row-fluid">
        		<div class="span4" >
		    		<img class="img-thumbnail" alt="captain crypto" src="sp-studio-red.jpg">
        		</div>
        
        		<div class="span6">
            		<h3>Hello Captain Crypto</h3>
            		<h6 class="text-error">Identity: [[${flag}]]</h6>
            		<h6>Email: crypto@god.com</h6>
            		<h6>Age: 11 Years</h6>
            		<h6>Favorite Animal: Monkey</h6>
            		<h6>Likes: Cryptography, Hacking</h6>
            		
        			<h4><u>Stolen Identity Keys</u></h4>
        			<h6>placeholder</h6>
        		</div>
        
        		<div class="span2">
            		<form th:action="@{/logout}" method="post">
            			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign Out</button>
        			</form>

        		
            	</div>
        	</div>
        </div>
        		

    </body>
</html>