<html>
<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link th:href="@{/style.css}" rel="stylesheet" />
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
 	<div class="container h-80">
      <div class="row align-items-center h-100">
    	<div class="col-3 mx-auto">
        		<div class="text-center">
            		<img id="profile-img" class="rounded-circle profile-img-card" src="https://i.imgur.com/6b6psnA.png" />
            		<p id="profile-name" class="profile-name-card"></p>
            			
            		<p class="text-white">Enter your IBAN</p>
            		<form class="form-signin" th:action="@{/login}" method="post">
						<input type="text" name="IBAN" id="inputIBAN" class="form-control form-group" placeholder="IBAN" autofocus />
						<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Reset Password</button>
            		</form>
				</div>
		</div>
	</div>
	
</body>
 
</html>