<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
		<title>Captain Crypto's Castle</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link th:href="@{/style.css}" rel="stylesheet" />
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
 	<div class="container h-80">
      <div class="row align-items-center h-100">
    	<div class="col-3 mx-auto">
        		<div class="text-center">
        			<div th:if="${password != null}" class="text-white">
           					
           					<p>Your password: [[${password}]]</p>
           					<p>Click <a th:href="@{/hello}">here</a> to login.</p>
        			</div>
        			
            		<img id="profile-img" alt="anonymous" class="rounded-circle profile-img-card" src="https://i.imgur.com/6b6psnA.png" />
            		<p id="profile-name" class="profile-name-card"></p>
            			
        			<div th:if="${password == null}">
            		<p class="text-white">Security Questions</p>
            		<form class="form-signin" th:action="@{/resetPassword}" method="post">
						<input type="text" name="username" id="inputUsername" class="form-control form-group" placeholder="username" autofocus />
						<input type="text" name="IBAN" id="inputIBAN" class="form-control form-group" placeholder="IBAN" autofocus />
						<input type="text" name="animal" id="inputAnimal" class="form-control form-group" placeholder="worst password 2018" autofocus />
						<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Reset Password</button>
            		</form>
            		</div>
				</div>
		</div>
	</div>
	
</body>
 
</html>